html,
body {
    background-color: #eaeff4;;
}

.search-container {
    visibility: hidden;
}

.sketchfab-embed-wrapper,
.comment-container {
    margin: 0 auto;
    width: 1090px;
}

.yun-show-container {
    width: 1090px;
    margin: auto;
    overflow: hidden;
}

.yun-show {
    width: 160px;
    margin: auto;
    line-height: 40px;
    background-color: #1e46a1;
    overflow: hidden;
    float: right;
    border-radius: 4px;
}

.yun-show > a,
.yun-show > a:hover,
.yun-show > a:visited {
    text-decoration: none;
    color: #eee;
}

.yun-icon {
    width: 28px;
    margin: 10px 10px 9.5px 30px;
    height: 19.5px;
    background: url(../../img/index/720.png) 0 0;
    background-size: 28px 19.5px;
    float: left;
}

.product-info > li {
    line-height: 40px;
    border: 1px solid #eee;
}

.product-info> li:nth-of-type(1) {
    border-bottom: none;
}

.product-info > li > span:nth-of-type(2n+2) {
    float: right
}

.comment-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin-top: 60px;
}

.comment-left {
    display: inline-table;
    width: 300px;
    border: 1px solid #bbb;
    text-align: center;
    margin: 35px 100px 0 0;
    background-color: white;
}

.comment-left > img {
    padding: 20px;
    width: 200px;
}

.comment-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.comment-top ul {
    width: 120px;
    line-height: 30px;
}

@font-face {
    font-family: 'iconfont';
    src: url('../../font/index/iconfont.eot'); /* IE9*/
    src: url('../../font/index/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../font/index/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../font/index/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../font/index/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    width: 24px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    cursor: pointer;
}

.comment-title {
    line-height: 30px;
   -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

textarea {
    line-height: 24px;
    font-size: 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #bbb;
    background-color: floralwhite;
    padding: 10px;
    outline: none;
    height: 155px;
    width: 666px;
}

.comment-overview {
    margin-top: 60px;
    display: inline-block;
}

.comment-overview textarea {
    width: 1070px;   
}

.submit  {
    width: 240px;
    margin: 30px auto 0 auto;
    border-radius: 8px;
    background-color: #1e46a1;
    line-height: 40px;
    font-size: 18px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

.addtional-info {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.personal-info {
    background-color: white;
    position: absolute;
    top: 100px;
    padding: 20px;
    margin: 0 calc(50% - 250px);
    width: 500px;
    border-radius: 4px;
    overflow: auto;
}

.icon-close {
    transform: rotate(45deg);
    font-size: 30px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.alert-title {
    clear: right;
    overflow: hidden;
}

.alert-title img {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.alert-title div {
    float: left;
    width: 100px;
    height: 100px;
}

.alert-title > p {
    width: 250px;
    margin-left: 250px;
}

.alert-title > p:nth-of-type(1) {
    margin-top: 30px;
}

.alert-info {
    margin: 20px 0;
    line-height: 24px;
}

.personal-info li > input {
    width: 400px;
    margin: 10px 0 10px 10px;
    line-height: 24px;
}

.personal-info select {
    font-size: 16px;
    width: 360px;
    margin: 10px 0 10px 10px;
    line-height: 24px;
}

.alert-button {
    text-align: center;
    background-color: #1e46a1;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    margin: 20px auto 10px auto;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
}
