.project-list-container {
    width: 1090px;
    margin: 20px auto;
}

.project-item {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

.project-item:last-child {
    border-bottom: none;
}

.project-item-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

}

.project-item-title {
    line-height: 36px;
    font-size: 20px;
    color: #1e46a1;
}

.item-left-top {
    width: 480px;
    height: 321.5px;
}

.item-left-top > img {
    width: 100%;
    height: 100%;
}

.item-left-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    width: 480px;
}

.item-img {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 113.2px;
    margin-right: 2px;
}

.item-img:last-child {
    margin-right: 0;
}

.item-img > img {
    width: 100%;
    height: 100%;
}

.project-item-right {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 40px;
}

.item-title {
    font-size: 14px;
    line-height: 32px;
    color: #1d49a5;
}


.item-subtitle {
    font-size: 12px;
    line-height: 28px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    /*margin-top: 10px;*/

}
.item-info-container {
    /*margin-top: 10px;*/
    line-height: 32px;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.project-button {
    /*width: 240px;*/
    height: 58px;
    /*border-radius: 8px;*/
    /*background-color: #1e46a1;*/
    /*line-height: 40px;*/
    font-size: 20px;
    /*color: #eee;*/
    text-align: center;
    cursor: pointer;
    background: url(../../img/util/willing_1.png) no-repeat;
}

.item-icon {
    width: 25px;
    height: 25px;
    background-image: url(../../img/index/icons.png);
    background-size: 591.9px 182.4px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 3.5px;
}

.item-icon[alt="项目概况"] {
    background-position: -511px -51px;
}

.item-icon[alt="项目区位"] {
    background-position: -225px -48px;
}

.item-icon[alt="预计开盘"] {
    background-position: -257px -49px;
}

.item-icon[alt="产权年限"] {
    background-position: -289px -49px;
}

.item-icon[alt="周边配套"] {
    background-position: -322px -51px;
}

.item-info:nth-of-type(1) > .item-msg,
.item-info:nth-of-type(4) > .item-msg {
    float: left;
}

span.item-gis {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    background-image: url(../../img/util/b6.png);
    background-size: initial;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-info-container li{
    dispaly: block;
    overflow: hidden;
}

.surroundings-container {
    overflow: hidden;
}

.surroundings {
    height: 25px;
    padding: 0 8px;
    margin: 3.5px 12px 3.5px 0;
    border: 1px solid #1e46a1;
    border-radius: 4px;
    line-height: 25px;
    float: left;
    cursor: pointer;
}

a[href^="project.html"] {
    text-decoration: none;
}

.item-right-top{
    margin: 20px 0 0 0;
}


.item-direction{
    position: absolute;
    width: 341px;
    height: 58px;
}

/**new**/
.more-link{
    color: #1e46a1;
}
