.subnav-container {
    background-color: #eee;
    width: 100%;
    height: 75px;
}
.subnav {
    width: 1090px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.search-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 75px;
}

.search-text {
    width: 150px;
}

.search-options {
    margin-top: 22px;
    width: 150px;
    height: 33px;
    font-size: 16px;
}

.login-container {
    width: 300px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row-reverse;
}

.login-left {
    margin: 17.5px 10px 0 17.5px;
    line-height: 20px;
    !width: 210px;
    font-size: 15px;
    text-align: right;
}

.login-top {
    overflow: hidden;
}

.login-top > p {
    text-overflow:ellipsis;
    white-space: nowrap;
    float: left;
    width: 160px;
}

.login-top > p > span> a:hover,
.login-top > span:hover {
    color: #1e46a1;
    cursor: pointer;
}

.login-top > span::before {
    content: '|';
    float: left;
    padding: 0 4px;
}

.login-top a,
.login-top a:visited {
    color: #666;
    border-bottom: none;
    text-decoration: none;
}

.right{
    float:right;
    overflow: hidden;
}

.login-right {
    height: 75px;
    width: 70px;
    background-image: url(../../img/index/icons.png);
    background-size: 986.5px 304px;
    background-repeat: no-repeat;
    background-position: -702px -194px;
    cursor: pointer;
}

.login-user{
    height:64px;
    width: 64px;
    border-radius: 4px;
    cursor: pointer;
}

.login-bottom {
    text-align: right;
}

.login-avatar {
    width: 64px;
    height: 64px;
    margin-top: 5px;
    border-radius: 4px ;
}
