<script src='js/lib/jquery.min.js'></script>
<script src='js/lib/galleria-1.4.5.js'></script>

<script src="js/index/slide.js">
</script>

<style type="text/css">
    .galleria{ width: 709px; height: 575px; background: #fff; overflow:visible; }
    .galleria-theme-classic{background: #c8c8c8;overflow: visible;}
    .galleria-theme-classic .galleria-thumbnails .galleria-image{
        border: 2px solid #ffffff;
        background: #ffffff;
        -webkit-border-radius:;
        -moz-border-radius:;
        border-radius:2px;
    }
    /*.galleria-theme-classic .galleria-thumbnails-container{height: 113px;top: 330px;overflow: visible;}*/
    .galleria-theme-classic .galleria-stage{
        top: 0px;
        left: 0px;
        bottom:100px;
        right: 0px;
    }
    .galleria-theme-classic .galleria-thumbnails-container{
        height: 90px;
    }


    .galleria-theme-classic .galleria-thumb-nav-left, .galleria-theme-classic .galleria-thumb-nav-right{
        height: 90px;
    }
    .galleria-theme-classic .galleria-thumbnails .galleria-image{
        height: 80px;
        width: 117px;
    }
    .galleria-theme-classic .galleria-thumb-nav-left,.galleria-theme-classic .galleria-thumb-nav-right{
        width: 24px;
        height: 24px;
        top: 28px;
    }

    .galleria-theme-classic.notouch .galleria-thumb-nav-left:hover,
    .galleria-theme-classic.notouch .galleria-thumb-nav-right:hover{
        background-color: transparent;
    }

    .galleria-theme-classic .galleria-thumb-nav-left{
        background: url("img/util/b4_s.png") no-repeat;
    }

    .galleria-theme-classic .galleria-thumb-nav-right{
        background: url("img/util/b3_s.png") no-repeat;
    }
</style>