{% extends 'layout.html' %}
{% block title %}首页 - 保利云产品平台{% endblock %}}
{% if isMobile %}
{% block style_mobile %}
    {= super() =}
    <link rel='stylesheet' href='css/index_mobile/about.css'>
{% endblock %}
{% else %}
{% block style %}
    {= super() =}
    <link rel='stylesheet' href='css/index/about.css'>
{% endblock %}
{% endif %}
{% block content %}
<div class="content">
    <div class="banner-img"><img src="img/index/poly.png" alt=""></div>
        {% import 'macro/macro.html' as macro %}
        {= macro.barlist(titles) =}
        {= macro.submenu(type) =}

        <div class="about-poly">
            <ul class="about-img">
                <li class="poly-img" alt='top'></li>
                <li class="poly-img" alt='bottom'></li>
            </ul>
            <div class="article">
                <p>保利华南实业有限公司成立于2005年8月，是保利房地产（集团）股份有限公司的全资子公司，隶属于中国保利集团。11年来，保利地产扎根佛山，深耕细作，保利华南已成为一个销售额超百亿的跨区域房地产发展平台，已进入粤西北8个地级市，公司总投资额达500亿，拟建在建项目44个，总建筑面积达2000万平方米。</p>
                <p>保利华南历经三个发展阶段：2005年至2009年，为探索发展阶段，2005年取得保利水城地块，同年保利华南公司成立，拉开了保利华南发展的序幕。成功开发了保利地产第一个大型综合体项目“保利水城”，该项目不仅成为佛山经典的城市名片，也为保利地产商业发展打下了坚实的基础。2009年至2011年，为扩张发展阶段，携保利水城成功之契机，迅速完成佛山三个经济核心区的布局，开发了保利东湾、保利中环两大综合体，并以多种方式取得了多个项目，一举奠定佛山江湖霸主地位。2012开始，为跨区域规范化发展阶段，至今保利华南已正式进入阳江、江门、清远、湛江、韶关、肇庆、茂名，基本完成粤西北城市布局。</p>
                <p>保利华南创造了很多的辉煌：发展机会上，华南公司是保利地产系统内第一个开发运营商业地产的子公司，亦是第一个开发城市综合体的子公司，第一个开发旅游地产的子公司；项目开发运营上，从佛山的商业商务综合体，到阳江旅游休闲文化综合体，再到江门的体育文化综合体、三水的政务综合体，华南公司成为被业界认可的综合体开发运营专家；发展版图上，以佛山为大本营，华南公司走到阳江、江门、清远，再到湛江、韶关、肇庆、茂名，逐步实现粤西北战略布局；销售业绩上，华南公司每年一台阶，呈几何式增长，从2007年的年销售额12亿，跳跃式发展成为2015年的210亿……</p>
                <p>保利华南引领粤西北城市化：作为央企龙头，时刻不忘肩负的经济使命、社会使命与历史使命，积极响应省委省政府“振兴粤东西北”战略举措，保利华南落实“扎根粤西北”战果喜人——2013年7月19日，获取湛江原点广场项目；7月22日，获取韶关芙蓉新城项目，正式进入湛江和韶关两大粤西、粤北门户城市，实现重要战略布局。保利华南将在这两个区域投资开发两个大规模的城市综合体项目，推进旧城改造和新城发展，为粤西北城市建设及经济发展贡献力量。12月，竞得肇庆市新区地块，顺利进军肇庆。2014年9月，保利华南又成功获取茂名博贺湾项目，至此，保利华南已正式进入了阳江、江门、清远、湛江、韶关、肇庆、茂名等粤西北城市。</p>
                <p>保利华南当之无愧城市运营商：保利华南累计开发综合体数量将超过8个，已成功开发保利水城、保利东湾、保利中环等三大标志性城市综合体项目，正在开发江门保利大都会、湛江原点广场、韶关保利大都会、清远保利天汇等项目，这些都是集商务、商业及居住等多功能于一体的航母级城市综合体项目。保利华南将以在佛山千灯湖积累起的经验，再向粤西、粤北去成功复制，这几大城市综合体，将以丰富的物业类型，推动所在区域的房地产发展和城市进步。</p>
                <p>保利华南一直保持“做大做强的心、不辱使命的魂、攻坚克难的魄”，并孜孜践行该保利精神，和城市共同成长、和员工共同成长、和广大客户共同成长，以创造更光辉灿烂的明天。</p>
            </div>
        </div>
</div>
{% endblock %}
{% block script %}
<script src='js/lib/jquery.min.js'></script>
<script src='js/lib/jquery.slides.js'></script>
<script src='js/index/index.js'></script>
{% endblock script %}
