{% extends 'layout.html' %}
{% block title %}首页 - 保利地产{% endblock %}}
{% if isMobile %}
{% block style_mobile %}
    {= super() =}
    <link rel='stylesheet' href='css/index_mobile/about.css'>
{% endblock %}
{% else %}
{% block style %}
    {= super() =}
    <link rel='stylesheet' href='css/index/about.css'>
{% endblock %}
{% endif %}
{% block content %}
<div class="content">
    <div class="banner-img"><img src="img/index/poly.png" alt=""></div>
    <ul class="bar">
        <li class="bar-list" alt='home'>&#x349f;</li>
        <li class="bar-list">首页</li>
        {% if type == '' or type == 'about' %}
        <li class="bar-list">关于保利华南</li>
        {% elif type == '1' %}
        <li class="bar-list">可以同时参与多个项目的产品体验吗？</li>
        {% elif type == '2' %}
        <li class="bar-list">如何获得购房优惠券？</li>
        {% elif type == '3' %}
        <li class="bar-list">可以转让我的优惠抵扣吗？</li>
        {% elif type == '4' %}
        <li class="bar-list">华南保利云产品概述</li>
        {% elif type == '5' %}
        <li class="bar-list">华南保利云产品使用规则</li>
        {% elif type == '6' %}
        <li class="bar-list">用户协议与隐私政策</li>
        {% endif %}
    </ul>
    {% if type == '' or type == 'about' %}
    <p class="text">关于保利华南</p>
    <div class="about-poly">
        <ul class="about-img">
            <li class="poly-img" alt='top'></li>
            <li class="poly-img" alt='bottom'></li>
        </ul>
        <div class="article">
            <p>保利华南实业有限公司成立于2005年8月，是保利房地产（集团）股份有限公司的全资子公司，隶属于中国保利集团。11年来，保利地产扎根佛山，深耕细作，保利华南已成为一个销售额超百亿的跨区域房地产发展平台，已进入粤西北8个地级市，公司总投资额达500亿，拟建在建项目44个，总建筑面积达2000万平方米。</p>
            <p>保利华南历经三个发展阶段：2005年至2009年，为探索发展阶段，2005年取得保利水城地块，同年保利华南公司成立，拉开了保利华南发展的序幕。成功开发了保利地产第一个大型综合体项目“保利水城”，该项目不仅成为佛山经典的城市名片，也为保利地产商业发展打下了坚实的基础。2009年至2011年，为扩张发展阶段，携保利水城成功之契机，迅速完成佛山三个经济核心区的布局，开发了保利东湾、保利中环两大综合体，并以多种方式取得了多个项目，一举奠定佛山江湖霸主地位。2012开始，为跨区域规范化发展阶段，至今保利华南已正式进入阳江、江门、清远、湛江、韶关、肇庆、茂名，基本完成粤西北城市布局。</p>
            <p>保利华南创造了很多的辉煌：发展机会上，华南公司是保利地产系统内第一个开发运营商业地产的子公司，亦是第一个开发城市综合体的子公司，第一个开发旅游地产的子公司；项目开发运营上，从佛山的商业商务综合体，到阳江旅游休闲文化综合体，再到江门的体育文化综合体、三水的政务综合体，华南公司成为被业界认可的综合体开发运营专家；发展版图上，以佛山为大本营，华南公司走到阳江、江门、清远，再到湛江、韶关、肇庆、茂名，逐步实现粤西北战略布局；销售业绩上，华南公司每年一台阶，呈几何式增长，从2007年的年销售额12亿，跳跃式发展成为2015年的210亿……</p>
            <p>保利华南引领粤西北城市化：作为央企龙头，时刻不忘肩负的经济使命、社会使命与历史使命，积极响应省委省政府“振兴粤东西北”战略举措，保利华南落实“扎根粤西北”战果喜人——2013年7月19日，获取湛江原点广场项目；7月22日，获取韶关芙蓉新城项目，正式进入湛江和韶关两大粤西、粤北门户城市，实现重要战略布局。保利华南将在这两个区域投资开发两个大规模的城市综合体项目，推进旧城改造和新城发展，为粤西北城市建设及经济发展贡献力量。12月，竞得肇庆市新区地块，顺利进军肇庆。2014年9月，保利华南又成功获取茂名博贺湾项目，至此，保利华南已正式进入了阳江、江门、清远、湛江、韶关、肇庆、茂名等粤西北城市。</p>
            <p>保利华南当之无愧城市运营商：保利华南累计开发综合体数量将超过8个，已成功开发保利水城、保利东湾、保利中环等三大标志性城市综合体项目，正在开发江门保利大都会、湛江原点广场、韶关保利大都会、清远保利天汇等项目，这些都是集商务、商业及居住等多功能于一体的航母级城市综合体项目。保利华南将以在佛山千灯湖积累起的经验，再向粤西、粤北去成功复制，这几大城市综合体，将以丰富的物业类型，推动所在区域的房地产发展和城市进步。</p>
            <p>保利华南一直保持“做大做强的心、不辱使命的魂、攻坚克难的魄”，并孜孜践行该保利精神，和城市共同成长、和员工共同成长、和广大客户共同成长，以创造更光辉灿烂的明天。</p>
        </div>
    </div>
    {% else %}
    {% if type == '1' %}
    <p class="text">可以同时参与多个项目的产品体验吗？</p>
    {% elif type == '2' %}
    <p class='text'>如何获得购房优惠券？</p>
    {% elif type == '3' %}
    <p class='text'>可以转让我的优惠抵扣吗？</p>
    {% elif type == '4' %}
    <p class='text'>华南保利云产品概述</p>
    {% elif type == '5' %}
    <p class='text'>华南保利云产品使用规则</p>
    {% elif type == '6' %}
    <p class='text'>用户协议与隐私政策</p>
    {% endif %}
    <div class='about-poly'>
        <div class='article'>
            <div id='1'>
                <p class='section-title'>可以同时参与多个项目的产品体验吗？</p>
                <p>每位登陆用户可以参与多个项目的产品线上体验。若已选择某一项目户型后想要重新选择项目和产品，请点击右上方头像至个人信息管理页面，点击“重新选择一个户型”即可重新选择一个项目和对应的户型产品。<p/>
                <img src='img/index/1.png'>
            </div>
            <div id='2'>
                <p class='section-title'>如何获得购房优惠券？</p>
                <p>您使用用微信登陆后，选择相应的项目的户型提交评价，若您选择的户型产品最终确认建设，小P会电话联系您并实时通知项目和产品建设进展及相关活动信息。</p>
                <img src='img/index/2.png'>
            </div>
            <div id='3'>
                <p class='section-title'>可以转让我的优惠抵扣吗？</p>
                <p>对产品进行评价且登记手机号码的用户可以获取购房优惠奖励。云产品后台会自动记录奖励用户的微信号，奖励兑现以微信号作为唯一标记，不可转让。
                </p>
            </div>
            <div id='4'>
                <p class='section-title'>华南保利云产品概述</p>
                <p>保利华南云产品平台”是集产品线上体验、设计互动、品牌优惠活动于一体的展示创新平台。本平台精选保利华南历年开发住宅项目中最受欢迎的户型产品，诚意向广大客户征集宝贵的意见和建议，旨在通过不断的设计优化与产品创新，为客户打造更优质、更现代、更人性化的产品。此外，本平台也将探索全新的住宅开发流程，让客户更多地参与到项目的前期设计中，为客户提供更多个性化的定制选择。<br><br>我们相信这是未来产品设计的趋势，也将坚定不移地探寻这种可能性。
                </p>
            </div>
            <div id='5'>
                <p class='section-title'>华南保利云产品使用规则</p>
                <p>[项目巡览]<br>云产品平台的游客用户可通过微信扫一扫成为登录用户, 可通过“项目巡览”模块查看保利华南各在建项目的专属户型产品，针对各个户型的不同功能区给出评论和建议。评论客户完成相应的信息登记后，用户则可获取相应的购房优惠奖励。每位登陆用户可通过切换操作选择评论多个感兴趣的户型产品，评论次数不设上限。</p>
                <p>[产品巡览]<br>云产品平台的游客用户可通过“产品巡览”查看保利华南的通用户型，并对通用户型的不同功能区给出评论和建议，以指导通用产品的产品创新与设计优化，评论次数不设上限。</p>
                <p>[个人管理页面]<br>登录用户可点击个人管理页面进行手机号码设置、查看已选择的项目和对应户型产品、评价或者重新选择一个项目户型。
                </p>
            </div>
            <div id='6'>
                <p class='section-title'>用户协议与隐私政策</p>
                <p>本平台尊重并保护所有使用服务用户的个人隐私权。为了给您提供更准确、更个性化的服务，本平台会按照本隐私权政策的规定使用和披露您的个人信息。但本平台将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本平台不会将这些信息对外披露或向第三方提供。本平台会不时更新本隐私权政策。您在同意本平台服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本平台服务使用协议不可分割的一部分。
                </p>
                <p>1. 适用范围<br>
                a) 在您注册本平台帐号时，您根据本平台要求提供的个人注册信息；<br>
                b) 在您使用本平台网络服务，或访问本平台平台网页时，本平台自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；<br>
                c) 本平台通过合法途径从商业伙伴处取得的用户个人数据。</p>
                <p>您了解并同意，以下信息不适用本隐私权政策：<br>
                a) 您在使用本平台提供的搜索服务时输入的关键字信息；<br>
                b) 本平台收集到的您在本平台发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；<br>
                c) 违反法律规定或违反本平台规则行为及本平台已对您采取的措施。<br>
                <p>2. 信息使用<br>
                a) 本平台不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本平台（含本平台关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。<br>
                b) 本平台亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何本平台用户如从事上述活动，一经发现，本平台有权立即终止与该用户的服务协议。<br>
                c) 为服务用户的目的，本平台可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与本平台合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。</p>
                <p>3. 信息披露<br>
                在如下情况下，本平台将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：<br>
                a) 经您事先同意，向第三方披露；<br>
                b) 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；<br>
                c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br>
                d) 如您出现违反中国有关法律、法规或者本平台服务协议或相关规则的情况，需要向第三方披露；<br>
                e) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；<br>
                f) 在本平台平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，本平台有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。<br>
                g) 其它本平台根据法律、法规或者网站政策认为合适的披露。
                </p>
                <p>4. 信息存储和交换<br>
                本平台收集的有关您的信息和资料将保存在本平台及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或本平台收集信息和资料所在地的境外并在境外被访问、存储和展示。
                </p>
                <p>5. 信息安全<br>
                a) 本平台帐号均有安全保护功能，请妥善保管您的用户名及密码信息。本平台将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。<br>
                b) 在使用本平台网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是本平台用户名及密码发生泄露，请您立即联络本平台客服，以便本平台采取相应措施。
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script src='js/lib/jquery.min.js'></script>
<script src='js/lib/jquery.slides.min.js'></script>
<script src='js/index/index.js'></script>
{% endblock script %}
