{% extends 'layout.html' %}
{% block title %}首页 - 保利云产品平台{% endblock %}}
{% if isMobile %}
{% block style_mobile %}
    {= super() =}
    <link rel='stylesheet' href='css/index_mobile/index.css'>
{% endblock %}
{% else %}
{% block style %}
    {= super() =}
    <link rel='stylesheet' href='css/index/index.css'>
{% endblock %}
{% endif %}
{% block content %}
<div class="content">
    <div class="banner-container">
        <div class="banner" id='banner-slides'>
            {% for item in data.top %}
            {% if item.type == 'ad' %}
            <a href="{= item.link =}"><img class="banner-img" src="{= item.image =}" data-link="{= item.link =}"></a>
            {% elif item.type == 'structure' %}
            <a href="/comment.html?structure_id={= item.structure_id =}"><img class="banner-img" src="{= item.image =}" structure-id="{= item.structure_id =}"></a>
            {% else %}
            <a href="{= item.link =}"><img class="banner-img" src="{= item.image =}"></a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if isMobile==false %}
    <div class="layout-container">
        <div class="layout-wrap-right">
            <div class="layout-wrap-dec">
                <div class="layout-title">
                    <span class="icon icon-sug"></span>
                    <span class="layout-title-text">推荐项目</span>
                </div>
            </div>
            <div class="layout" id='layout-slides'>
                {% for item in data.bottom %}
                    {% if item.type == 'ad' %}
                        <a href="{= item.link =}">
                            <img class="banner-img" src="img/index/banner/bottom/index_br_2.jpg" data-link="{= item.link =}">
                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                                    <span class="layout-title-text">
                                        90W_(A)B
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% elif item.type == 'structure' %}
                        <a href="/comment.html?structure_id={= item.structure_id =}">
                            <img class="banner-img" src="img/index/banner/bottom/index_br_2.jpg" structure-id="{= item.structure_id =}">
                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                                    <span class="layout-title-text">
                                        90W_(A)B
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="layout-wrap-left">
            <div class="layout-wrap-dec">
                <div class="layout-title">
                    <span class="icon icon-rect"></span>
                    <span class="layout-title-text">
                        经典户型
                    </span>
                </div>
            </div>
            <div class="layout" id='layout-slides-left'>
                {% for item in data.bottom %}
                    {% if item.type == 'ad' %}
                        <a href="{= item.link =}">
                            <img class="banner-img" src="img/util/house_slide.jpg" data-link="{= item.link =}">

                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                                    <span class="layout-title-text">
                                        90W_(A)B
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% elif item.type == 'structure' %}
                        <a href="/comment.html?structure_id={= item.structure_id =}">
                            <img class="banner-img" src="img/util/house_slide.jpg" structure-id="{= item.structure_id =}">
                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                                    <span class="layout-title-text">
                                        90W_(A)B
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="layout-container">
        <div class="layout-wrap-right">
            <div class="layout-wrap-dec">
                <div class="layout-title">
                    <span class="layout-title-right">90W_(A)B</span>
                    <span class="icon icon-rect"></span>
                    <span class="layout-title-text">
                        经典户型
                    </span>
                </div>
            </div>
            <div class="layout" id='layout-slides-left'>
                {% for item in data.bottom %}
                    {% if item.type == 'ad' %}
                        <a href="{= item.link =}">
                            <img class="banner-img" src="img/util/house_slide.jpg" data-link="{= item.link =}">

                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                            <span class="layout-title-text">
                                90W_(A)B
                            </span>
                                </div>
                            </div>
                        </a>
                    {% elif item.type == 'structure' %}
                        <a href="/comment.html?structure_id={= item.structure_id =}">
                            <img class="banner-img" src="img/util/house_slide.jpg" structure-id="{= item.structure_id =}">
                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                            <span class="layout-title-text">
                                90W_(A)B
                            </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="layout-container">
        <div class="layout-wrap-right">
            <div class="layout-wrap-dec">
                <div class="layout-title">
                    <span class="layout-title-right">
                        <span class="project-name">保利云山</span>
                        <span class="project-address">/ 广州西 别墅区</span>
                    </span>
                    <span class="icon icon-sug"></span>
                    <span class="layout-title-text">推荐项目</span>
                </div>
            </div>
            <div class="layout" id='layout-slides'>
                {% for item in data.bottom %}
                    {% if item.type == 'ad' %}
                        <a href="{= item.link =}">
                            <img class="banner-img" src="img/index/banner/bottom/index_br_2.jpg" data-link="{= item.link =}">
                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                                <span class="layout-title-text">
                                    90W_(A)B
                                </span>
                                </div>
                            </div>
                        </a>
                    {% elif item.type == 'structure' %}
                        <a href="/comment.html?structure_id={= item.structure_id =}">
                            <img class="banner-img" src="img/index/banner/bottom/index_br_2.jpg" structure-id="{= item.structure_id =}">
                            <div class="layout-wrap-dec-bottom">
                                <div class="layout-title">
                                <span class="layout-title-text">
                                    90W_(A)B
                                </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    {% endif %}
</div>
{% endblock %}
{% block script %}
<script src='js/lib/jquery.min.js'></script>
<script src='js/lib/jquery.slides.js'></script>
<script src='js/index/index.js'></script>
{% endblock script %}
