html,
body {
    background-color: #eaeff4;;
}

.search-container {
    display: none;
}

.sketchfab-embed-wrapper,
.comment-container {
    margin: 0 auto;
    width: 100%;
}

.yun-show-container {
    margin: auto;
    padding-right: 10px;
    overflow: hidden;
}

.yun-show {
    width: 160px;
    margin: auto;
    line-height: 40px;
    background-color: #1e46a1;
    overflow: hidden;
    float: right;
    border-radius: 4px;
}

.yun-show > a,
.yun-show > a:hover,
.yun-show > a:visited {
    text-decoration: none;
    color: #eee;
}

.yun-icon {
    width: 28px;
    margin: 10px 10px 9.5px 30px;
    height: 19.5px;
    background: url(../../img/index/720.png) 0 0;
    background-size: 28px 19.5px;
    float: left;
}

.product-info > li {
    line-height: 40px;
    border: 1px solid #eee;
    padding: 0 10px;
}

.product-info> li:nth-of-type(1) {
    border-bottom: none;
}

.product-info > li > span:nth-of-type(2n+2) {
    float: right
}

.comment-list {
    margin: 60px 0;
}

.comment-left {
    width: 100%;
    /*border-top: 1px solid #bbb;*/
    /*border-bottom: 1px solid #bbb;*/
    text-align: center;
}

.comment-left > img {
    padding: 20px;
}

.comment-right {
    margin: 0 10px;
}

.comment-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.comment-top ul {
    width: 120px;
    line-height: 30px;
}

@font-face {
    font-family: 'iconfont';
    src: url('../../font/index/iconfont.eot'); /* IE9*/
    src: url('../../font/index/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../font/index/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../font/index/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../font/index/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    width: 24px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    cursor: pointer;
}

.comment-title {
    line-height: 30px;
   -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

textarea {
    line-height: 24px;
    font-size: 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #bbb;
    background-color: floralwhite;
    padding: 0;
    outline: none;
    box-shadow: none;
    height: 155px;
    width: 100%;
}

.comment-overview {
    margin: 0 10px;
    display: inline-block;
}

.submit  {
    width: 240px;
    margin: 30px auto 0 auto;
    border-radius: 8px;
    background-color: #1e46a1;
    line-height: 40px;
    font-size: 18px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

.content{
    width: 100%;
}

.addtional-info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    display: none;
    /*height:auto;*/
}

.personal-info {
    background-color: white;
    bottom: 0;
    position: absolute;
    padding: 20px;
    border-radius: 4px;
}

.icon-close {
    transform: rotate(45deg);
    font-size: 30px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.alert-title {
    clear: right;
    overflow: hidden;
}

.alert-title img {
    width: 100px;
    height: 100px;
}

.alert-title div {
    text-align: center;
}

.alert-title > p {
    text-align: center;
}

.alert-info {
    margin: 20px 0;
    line-height: 24px;
}


.personal-info li > input {
    /*width: 409px;*/
    margin: 10px 0 10px 0px;
    line-height: 24px;
    /*-webkit-border-radius:2px;*/
    /*-moz-border-radius:2px;*/
    /*border-radius:2px;*/
    /*background-color: #f0f0f0;*/
}

.personal-info select {
    font-size: 16px;
    !width: 360px;
    margin: 10px 0 10px 10px;
    line-height: 24px;
}

.alert-button {
    text-align: center;
    background-color: #1e46a1;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    margin: 20px auto 10px auto;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
}

.special-red{
    font-size: 26px;
    color: #f00549;
}

.cmt-userinfo-form li{
    line-height: 30px;
}

.cmt-userinfo-form li span{
    display: inline-block;
    width: 100px;
    font-size: 14px;
}

.share-icon{
    height: 77px;
    width: 77px;
    display: inline-block;
    background:url("../../img/util/share.png") no-repeat;
}
.icon-weixin{
    background-position: -45px -38px;
}

.icon-pengyouquan{
    background-position: -265px -38px;
}

.share-container{
    overflow: hidden;
    margin: 50px auto;
}

.sharebox{
    width: 50%;
    float: left;
    text-align: center;
}

.share-alert-info{
    margin: 60px 0 0 30px;
    line-height: 32px;
    font-size: 16px;
}

.share-info {
    position: fixed;
    top: 10%;
    left:0;
    bottom: 10%;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    display: none;
}


.icon-close {
    transform: rotate(45deg);
    font-size: 30px;
    width: 20px;
    float: right;
    cursor: pointer;
}



.alert-title > p:nth-of-type(1) {
    margin-top: 50px;
}

.alert-button {
    text-align: center;
    background-color: #1e46a1;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    margin: 20px auto 10px auto;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
}

.special-red{
    font-size: 26px;
    color: #f00549;
}

.cmt-userinfo-form li{
    line-height: 30px;
}

.cmt-userinfo-form li span{
    display: inline-block;
    width: 100px;
    font-size: 14px;
}

.share-icon{
    height: 77px;
    width: 77px;
    display: inline-block;
    background:url("../../img/util/share.png") no-repeat;
}
.icon-weixin{
    background-position: -45px -38px;
}

.icon-pengyouquan{
    background-position: -265px -38px;
}

.share-container{
    overflow: hidden;
    margin: 50px auto;
}

.sharebox{
    width: 50%;
    float: left;
    text-align: center;
}

.share-alert-info{
    margin: 60px 0 0 30px;
    line-height: 32px;
    font-size: 16px;
}

.sharebox{
    cursor: pointer;
}
