html,
body {
    background-color: #eaeff4;;
}

.content {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 10px;
}

.banner-img {
   width: 100%;
   height: 100%;
}

#banner-slides,
#layout-slides{
    display: none;
}

.layout {
    margin: 40px auto 0 auto;
}

#banner-slides .slidesjs-navigation {
    margin-top:3px;
}

#banner-slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#banner-slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}

/*.banner .slidesjs-pagination {*/
    /*list-style: none;*/
    /*margin: -92px 0 0 120px;*/
    /*position: relative;*/
    /*z-index: 10;*/
    /*height: 27px;*/
/*}*/
.banner .slidesjs-pagination {
    list-style: none;
    /* margin: -92px 0 0 120px; */
    position: relative;
    z-index: 10;
    /* height: 27px; */
    overflow: hidden;
    display: inline-block;
    float: right;
    right: 10px;
    bottom: 20px;
}

.layout .slidesjs-pagination {
    list-style: none;
    /*margin: -92px 0 0 120px;*/
    position: relative;
    z-index: 10;
    /*height: 27px;*/
    display: inline-block;
    float: right;
    right: 10px;
    bottom: 20px;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 20px;
    height: 0;
    padding-top: 6px;
    background-color: rgba(100, 100, 100, 0.7);
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-color: rgba(30, 70, 161, 0.8);
}

.slidesjs-pagination li a:hover {
    background-color: #1e46a1;
}

#banner-slides a:link,
#banner-slides a:visited {
    color: #333
}

#banner-slides a:hover,
#banner-slides a:active {
    color: #9e2020
}

.footer-container {
    margin-top: 0;
}

/**add new**/

.layout-container{
    overflow: hidden;
}


.layout .layout-wrap-dec{
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon{
    height: 22px;
    width: 22px;
    display: inline-block;
}

.icon-sug{
    background: url("../../img/util/icon-sug.png");
}

.icon-rect{
    background: url("../../img/util/icon-rect.png");

}

.layout-title{
    line-height: 22px;
}

.layout-title-text{
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    color: #1e46a1;
    vertical-align: top;
    display: inline-block;
}

.layout .layout-wrap-dec-bottom{
    position: absolute;
    left: 0px;
    bottom: -3px;
}

.layout-wrap-right .layout .layout-wrap-dec-bottom{
    position: absolute;
    left: 0px;
    bottom: -40px;
}



.layout-wrap-right .layout{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.layout-wrap-dec{
    margin: 6px 12px 12px 18px;
    height: 22px;
}

.layout-title{
    height: 22px;
}

.layout-title-right{
    height:22px;
    line-height:22px;
    float:right;
    padding-right: 12px;
    color: #aaa;
    font-size: 12px;
}

.layout-title-right .project-name{
}

.layout-title-right .project-address{
    color: #d2d2b4;
}

.layout-info-item{
    float:right;
    font-size: 12px;
}

.layout-name{
    margin-top: 20px;
}

.layout-info{
    margin-top: 20px;
}
.layout-info span{
    font-size: 12px;
}

.layout-info span.layout-name{
    color: #1e46a1;
}

.layout-info span.layout-address{
    color: #AAAA55;
}
