{% macro selectData(data, city='佛山', id='select-container') %}
<div class="select-container" id='{= id =}'>
    <div class="selected" value="{= city =}" @click='toggleOptions("{= city =}")'>{= city =}</div>
    <ul class="select-options">
        {% for item in data %}
        <li class="options" value="{= item =}" @mouseover='highlight' @click='selectOptions("{= item =}")'>{= item =}</li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro selectAreaFilter(data, id='select-container', areaValue='全部') %}
<div class="select-container" id='{= id =}'>
    {% if areaValue == '全部' or areaValue == '' %}
    {% set areaValue = '全部' %}
    <div class="selected" value="{=areaValue=}" @click='toggleOptions("{=areaValue=}")'>{=areaValue=}</div>
    {% else %}
    {% set arr = areaValue.split(',') %}
    {% if arr[1] != '-1' %}
    <div class="selected" value="{=areaValue=}" @click='toggleOptions("{=areaValue=}")'>{= arr[0] =}-{= arr[1]=}㎡</div>
    {% else %}
    <div class="selected" value="{=areaValue=}" @click='toggleOptions("{=areaValue=}")'>{= arr[0] =}㎡及以上</div>
    {% endif %}
    {% endif %}
    <ul class="select-options">
        {% for item in data %}
        {% if item[1] == -1 %}
        <li class="options" value="{= item[0] =},{= item[1] =}" @mouseover='highlight' @click='selectOptions("{= item[0] =},{=item[1]=}", $event)'>{= item[0] =}㎡及以上</li>
        {% else %}
        <li value="{=item[0]=},{=item[1]=}" @click='selectOptions("{= item[0] =},{=item[1]=}", $event)'>{= item[0] =}-{= item[1] =}㎡</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro selectStructureFilter(data, id='select-container', structureValue='全部') %}
<div class="select-container" id='{= id =}'>
    {% if structureValue == '全部' or structureValue == ''%}
    {% set structureValue = '全部' %}
    <div class="selected" value="{=structureValue=}" @click='toggleOptions("{=structureValue=}")'>{=structureValue=}</div>
    {% else %}
    {% set arr = structureValue.split(',')%}
    <div class="selected" value="{=structureValue=}" @click='toggleOptions("{=structureValue=}")'>{= arr[0] =}房{= arr[1] =}厅{= arr[2] =}卫</div>
    {% endif %}
    <ul class="select-options">
        {% for item in data %}
        <li @click='selectOptions("{=item[0]=},{=item[1]=},{=item[2]=}", $event)' value="{=item[0]=},{=item[1]=},{=item[2]=}">{= item[0] =}房{= item[1] =}厅{= item[2] =}卫</li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro barlist(data) %}
    <ul class="bar-new">
        <li class="bar-list-new"><a href="/">首页</a></li>
        <li class="bar-list-new">&gt;</li>
        <li class="bar-list-new"><a href="about.html">关于保利华南</a></li>
        <li class="bar-list-new">&gt;</li>
        <li class="bar-list-new"><span class="active">{= data =}</span></li>
    </ul>
{% endmacro %}

{% macro barlist2(data) %}
    <ul class="bar-new">
        <li class="bar-list-new"><a href="/">首页</a></li>
        <li class="bar-list-new">&gt;</li>
        <li class="bar-list-new"><a href="about.html">常见问题</a></li>
        <li class="bar-list-new">&gt;</li>
        <li class="bar-list-new"><span class="active">{= data =}</span></li>
    </ul>
{% endmacro %}

{% macro submenu(type) %}
    <div class="about-submenu">
        {% if type == '0' or type == '' %}
        <div><a href="about.html" class="text active">公司简介</a></div>
        {% else %}
        <div><a href="about.html" class="text">公司简介</a></div>
        {% endif %}
        {% if type == '1' %}
        <div class=""><a href="president.html" class="text active">领导致辞</a></div>
        {% else %}
        <div class=""><a href="president.html" class="text">领导致辞</a></div>
        {% endif %}
        {% if type == '2' %}
        <div class=""><a href="journey.html" class="text active">发展历程</a></div>
        {% else %}
        <div class=""><a href="journey.html" class="text">发展历程</a></div>
        {% endif %}
        {% if type == '3' %}
            <div class=""><a href="honor.html" class="text active">企业荣誉</a></div>
        {% else %}
            <div class=""><a href="honor.html" class="text">企业荣誉</a></div>
        {% endif %}
        {% if type == '4' %}
            <div class=""><a href="company.html" class="text active">保利集团</a></div>
        {% else %}
            <div class=""><a href="company.html" class="text">保利集团</a></div>
        {% endif %}
    </div>
{% endmacro %}

